.bill{
    display: flex;
    background: #e5e5e5;
    height: 90vh;
}
.add-bill{
    background: #ffffff;
    border-radius: 5px;
    padding: 1em;
    margin-left: 3%;
    width: 80vw;
}
.bill-top{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.column{
    display: flex;
    flex-direction: column;
}
.add-bill input, .add-bill select{
    height: 5vh;
    border: 1px solid #c7cfd6;
    margin-bottom: 5%;
}
label{
    margin-bottom: 3%;
}
textarea{
    height: 15vh;
    border: 1px solid #c7cfd6;
}
table{
    margin-top: 5%;
    border: 1px solid #c7cfd6;
    width: 100%;
}
th, td {
    padding: 0.3em;
}
.edit{
    height: 3vh;
    margin-left: 2%;
}
.item{
    width: 10vw;
}
.expense{
    width: 15vw;
}
.description{
    width: 10vw;
}
.qty{
    width: 3vw;
}
.price{
    width: 7vw;
}
.tax{
    display: flex;
    margin-top: 3%;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
}
.cancel{
    background: #fff;
    height: 5vh;
    width: 5vw;
    color: #667085;
    border: 1px solid #667085;
    border-radius: 5px;
}
.save{
    background: #3db0ff;
    color: #ffffff;
    height: 5vh;
    width: 5vw;
    border: none;
    border-radius: 5px;
    margin-left: 1%;
}